/* HEADER */

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif, TestFont;
}
body {
  height: 100vh;
  width: 100%;
  background-color: #0D0F0A;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 450px;
  cursor: pointer;
}



button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

/* PRODUCTS */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-family: 'Jost';
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product_card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  cursor: pointer;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.product-timer {
  position: absolute;
  top: 93%; 
  left: 10%; 
}

/*OVERLAYS*/


.overlay-text {
  width: 250px;
  position: absolute;
  top: 313px; 
  left: 150px; 
  transform: translate(-50%, -50%); 
  color: #fff; 
  padding: 10px 20px; 
  font-size: 15px; 
  font-weight: 400;
  font-family: 'Jost';
  text-align: left;
}
.overlay-subtext {
  position: absolute;
  top: 95%; 
  left: 26%; 
  transform: translate(-50%, -50%); 
  color: #fff; 
  padding: 10px 20px; 
  font-weight: 400;
  font-family: 'Jost';
  font-size: 13px; 
  text-align: left;
}
.Gradient-placeholder {
  width: 250px;
  height: 500px;
  position: absolute;
  top: 335px; 
  left: 105px; 
  transform: translate(-50%, -50%); 
  color: #fff;
  padding: 10px 20px; 
  font-size: 15px; 
  font-weight: 400;
  font-family: 'Jost';
  text-align: left;
  position: absolute;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, #000000 100%);
  transition: opacity 500ms 0ms ease-in-out;
}

.Gradient-placeholder:hover {
opacity: 0;
}


.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 70%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 90%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #0D0F0A 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: .5;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 5;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}


/*Seats*/
.seat{
  padding:0px;
  position: relative;
  left:20px;
  bottom:0px;
}

.seat_2{
  position: relative;
  left:190px;
  bottom:303.5px;
}


input[type = "checkbox"]{
  content:"";
  appearance: none;
  background-color: #DADADA;
  border-radius:20%;
  padding:15px;
  margin:2px;

}

input[type = "checkbox"]:hover{
  background-color: #B8B8B8;
  cursor:pointer;
}

input[type = "checkbox"]:checked{
  background-color: #84CA79;
}





/*movies*/
.movie-preview{
  position:fixed;
  top:0; left:0;
  min-height: 100vh;
  width: 100%;
  background:rgba(0, 0, 0, .8);
  display:none;
  align-items: center;
  justify-content:center;
}

.movie-preview .fa-xmark{
  position: absolute;
  top: 1rem; right: 1.5rem;
  cursor: pointer;
  color: #0D0F0A;
  font-size: 2rem;
}

.movie-preview .fa-xmark:hover {
  transform: rotate(90deg);
  transition : .5s;
  color:#dd3939;
}

.movie-preview .preview{
  display:none;
  padding:3rem;
  background: #fff;
  position: absolute;
  margin: 2rem;
  width:55rem;
  height:30rem;
  border-radius: 30px;

}

.movie-preview .preview select{
  font-size: 1em;
  padding: 7px;
  border-radius: 17px;
  border: #DADADA;
  border-width: 10px;
  background: #DADADA;
  font-size: 15px; 
  font-weight: 400;
  font-family: 'Jost';
  cursor:pointer;
}



.movie-preview .preview .room_select{

  position:relative;
  padding:10px;
  left:8px;
  bottom:0px;
}

.movie-preview .preview.active{
  display:inline-block;
  
}


.movie-preview .preview .preview_img_container{
  position: relative;
  
  height:480px;
  width:250px;
  border-radius: 17px;
  background-color: #000000;
}

.movie-preview .preview .preview_img_container .preview_gradient{
  height: 350px;
  width:250px;
  top:90px;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, #000000 70%);
  position:absolute;
}


.movie-preview .preview .preview_img_container img{
  position: relative;
  height:350px;
  width:250px;
  border-radius: 17px;
  display:inline-block;
}

.movie-preview .preview .form_container{
  position: relative;
  padding: 10px;
  left:270px;
  bottom: 480px;
  height:460px;
  width:590px;
  background-color: #0D0F0A;
  border-radius: 17px;
}

.movie-preview .preview .form_container .screen_container{
  position:relative;
  left:9px;
  margin:12px;
  height:70px;
  width:315px;
  background-color: #BDCCFF;
  border-radius: 17px;
  text-align: center;
  line-height: 70px;
  font-size: 15px; 
  font-weight: 400;
  font-family: 'Jost';
}

.movie-preview .preview .form_container .dash_line{
  width:2px;
  height:480px;
  position: absolute;
  top:0px;
  left:370px;
  border-right:1px dashed #8c8b8b;
  font-size: 15px; 
  font-weight: 400;
  font-family: 'Jost';
}

.movie-preview .preview .form_container .ticket_container{
  position:absolute;
  top:27px;
  left:415px;
  font-size: 15px; 
  font-weight: 200;
  font-family: 'Jost';
  color:#ffffff;
}

.movie-preview .preview .form_container .ticket_container hr{
  width:180px;
  position: relative;
  right:22px;
  margin:5px;
}

.movie-preview .preview .form_container .ticket_container p{
  position: relative;
  display:inline-block;
  margin:5px;
  right:25px;
  font-weight: 200;
  font-family: 'Jost';
}

.movie-preview .preview .form_container .ticket_container button{
  background-color: #84CA79;
  border: none;
  color: white;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 400;
  font-family: 'Jost';
  border-radius: 17px;
}





/*legends*/
.movie-preview .preview .form_container .ticket_container .legends{
  position: relative;
  height:30px;
  width:30px;
  top:8px;
  background-color: #DADADA;
  text-align: left;
  border-radius: 7px;
  margin:14px 4px 0px;
}

.movie-preview .preview .form_container .ticket_container .legends.selected{
  background-color: #84CA79;
}
.movie-preview .preview .form_container .ticket_container .legends.sold{
  background-color: #dd3939;
}
.movie-preview .preview .form_container .ticket_container .legends p{
  position: absolute;
  left:30px;
  top:-1px;
  font-weight: 300;
  font-family: 'Jost';
  font-size: 14px;
}




